bin/
build/
build_gcc/
data/
data_double_layer/
data_vdist_1d/
data_vdist_2d/
img/
lib/
spectrum/
vdistributions/
src/distribution/
src/others/
python/*.pyc
bulk_internal_energy
calc_agyrotropy
compression
dissipation
energies_pic.dat
fileContents.txt
nrho_eband
parallel_potential
parspec
spectrum_along_fieldline
translate
vdist_1d_along_fieldline
vdist_2d_along_fieldline
vdistribution
xz_field.dat
vpic-sorter/*.o
vpic-sorter/h5group-sorter
vpic-sorter/h5trajectory
vpic-sorter/data/
vpic-sorter/attribute
python/colormap/*.pyc
